.Noto Sans Korean{
    font-family: "Noto Sans Korean", sans-serif;
    font-weight: 400;
    font-style: normal;
}

    <style>
        .material-symbols-outlined {
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
        }
    </style>